#!/usr/bin/make -f
PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@

override_dh_auto_build:

override_dh_auto_test:

override_dh_install:
	mkdir -p debian/php-symfony-polyfill-php84//usr/share/php/Symfony/Polyfill/php84
	cp *.php debian/php-symfony-polyfill-php84//usr/share/php/Symfony/Polyfill/php84/
	install -m 644 debian/autoload.php debian/php-symfony-polyfill-php84//usr/share/php/Symfony/Polyfill/php84/autoload.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" debian/php-symfony-polyfill-php84//usr/share/php/Symfony/Polyfill/php84/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|" debian/php-symfony-polyfill-php84//usr/share/php/Symfony/Polyfill/php84/autoload.php
